* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 2vw;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#root {
    width: 100%;
    height: 100%;
}

.page_div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}

h1 {
    font-size: 300%;
    color: #606B9B;
}

button {
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

/*********  logo *********/


.logo_div{
    margin-top: 3vw;
    margin-bottom: 6vw;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 2;
}

.logo_div button {
    margin-right: 25vw;
    margin-left: 8vw;
    margin-top: 2vw;
    height: 4vw;
    background-color: #606B9B;
    padding: 0% 3vw 0% 3vw;
    border-style: none;
    color: snow;
    font-size: 80%;
    
}

/*********  Main Text Box *********/
.txtbox_div{
    width: 100%;
    display: flex;
    border: 1px;
    justify-content: space-around;
    flex-grow: 2;
    flex-shrink: 1;
}


.textbox_1 {
    width: 30%;
    border: solid 1px #606B9B;
    margin-left: 10%;
    font-size: 100%;
    padding: 2vw;
    opacity: 0.6;
}

.textbox_2 {
    width: 30%;
    border: solid 2px #70C7A9;
    margin-right: 10%;
    font-size: 100%;
    padding: 2vw;
    opacity: 0.6;
}

/*********  Review Text Box *********/
.rev_txtbox_div{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px;
    justify-content: space-around;
    flex-grow: 2;
}


.rev_textbox_1 {
    border: solid 1px #606B9B;
    flex-grow: 1;
    font-size: 100%;
    opacity: 0.6;
    margin-right: 20vw;
    margin-left: 20vw;
    padding: 2vw;
}

.rev_textbox_2 {
    flex-grow: 9;
    border: solid 2px #70C7A9;
    font-size: 100%;
    opacity: 0.6;
text-align: center;
    margin-bottom: 5vw;
    margin-right: 20vw;
    margin-left: 20vw;
    padding: 2vw;
}


/********* save button *********/
.lower_butt_div {
    flex-shrink: 3;
    flex-grow:1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.lower_butt_div button {
    align-self: flex-end;
    background-color: #70C7A9;
    margin-top: 6vw;
margin-bottom: 4vw;
    margin-right: 13%;
    border-style: none;
    color: snow;
    font-size: 80%;
    padding: 1vw 2vw 1vw 2vw;
}


/*********  footer *********/
.username_div {
    padding: 1vw 0 1vw 0;
    width: 100%;
    background-color: #606B9B;
    color: snow;
    font-size: 50%;
    text-align: center;
    flex-grow: 0;
}